.wrapperCollapse {
    border-radius: 5px;
    overflow: hidden;
    margin: 3rem;
}

@media screen and (max-width: 992px) {
    .aboutSection {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .wrapperCollapse {
       margin: 20px 0;
    }
}