.rental {
    color: #FF6060;
}

.wrapperCarousel {
    border-radius: 25px;
    overflow: hidden;
    height: 415px;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 24px;
}

.leftSide {
    width: 100%;
}

.title {
    font-size: 36px;
}

.location {
    margin-bottom: 24px;
    font-size: 18px;
}

.rating {
    padding-right: 16px;
}

.details {
    display: flex;
    gap: 4.38rem;
}

.wrapperCollapse {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .wrapperCarousel {
        height: 255px;
        border-radius: 10px;
    }

    .header {
        flex-direction: column;
        margin: 12px 0;
    }

    .title{
        font-size: 18px;
    }

    .location{
        font-size: 14px;
        margin: 12px 0;
    }

    .rightSide {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 0;
    }

    .details {
        flex-direction: column;
        gap: 12px;
    }

    .wrapperCollapse {
        border-radius: 5px;
    }
}