.Collapse{
  border-radius: inherit;
}

.topBar {
  color: #F6F6F6;
  background-color: #FF6060;
  padding: 10px 20px 10px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  border-radius: inherit;
}

.arrow {
    display: inline-block;
    transition: 300ms ease-in-out;
}

.rotate {
  transform: rotate(180deg)
}

.content {
  color: #FF6060;
  background-color: #F6F6F6;
  font-size: 18px;
  margin: 0;
  padding: 20px;
  line-height: 25.67px;
}

.li{
  margin: 10px 0;
}

.hidden {
  display: none;
}

.notVisible {
  opacity: 0;
}

.fadeIn {
    animation: appear 250ms ease-in-out;
}

.fadeOut {
    animation: disappear 300ms ease-in-out;
}

@keyframes appear {
  0% {
      opacity: 0;
      transform: translateY(-15%);
  }
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform: translateY(0%);
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 0;
        transform: translateY(-15%);
      }
}
  