.wrapperHeader {
    width: 100%;
    
}

header {
    margin: 1.7rem 4rem 0;
    display: flex;
	justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

nav{
    display: flex;
    gap: 57px;
}

.active {
    text-decoration: underline;
}

@media screen and (max-width: 992px) {
    header{
        margin: 1.7rem 2.5rem 0;
        
    }
}

@media screen and (max-width: 600px) {
    header{
        margin: 1rem 1rem 0;
        font-size: 12px;

    }

    img{
        width: 145px;
        height: 46.88px;
    }

    nav{
        gap: 20px;
    }
}