header {
    display: flex;
	justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin: 1.7rem 4rem 0;
}

nav{
    display: flex;
    gap: 57px;
}

.active {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    header{
        margin: 1rem;
    }

    img{
        width: 145px;
        height: 46.88px;
    }

    nav{
        gap: 20px;
    }

    .navLink{
        font-size: 12px;
    }
}