footer{
    background-color: black;
	color: white;
	text-align: center;
	padding: 6.3rem;
    position: relative;
    bottom: 0;
    max-width: 1400px;
    margin: 0 auto;
}


.copyright{
    padding-top: 1rem;
    font-size: 24px;
}
