.errorDiv {
    text-align: center;
    color: #FF6060;
}

.title {
    font-weight: 700;
    font-size: 288px;
    margin: 2.5rem;
}

.subtitle {
    font-size: 36px;
    margin: 7rem  0 ;
}

.link {
    text-decoration: underline;
    text-decoration-color: #FF6060;
}

@media  screen and (max-width: 992px) {
    .errorDiv {
        margin: 0 2.5rem 4rem;
    }
}

@media screen and (max-width: 600px) {

    .title {
        font-size: 96px;
    }

    .subtitle {
        font-size: 18px;
        margin: 4rem 0;
    }

    .link {
        font-size: 14px;
    }

    .errorDiv {
        margin: 0;
    }
}